
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


.heading{
    color: rgb(230, 24, 120);
    font-family: MedievalSharp, 'Times New Roman', Times, serif;
}
p{
    color: blanchedalmond;
    font-family: MedievalSharp, 'Times New Roman';
}
body{
    background-image: linear-gradient(black 50%, white 0%);
}
.picture-border{
    border-color: #f579b3d7;
    border-width: 10px;
    border-style: solid;
    border-radius:50%;
  }

  #Library {
    background-image: url('https://s2.r29static.com/bin/entry/8df/430x516,85/1683072/image.webp');
    height: 512px;
    width: 500px;
    border-color: #f579b3d7;
    border-width: 10px;
    border-style: solid;
    border-radius:50%;
 }
 
 #Library:hover {
    background-image: url('https://www.thoughtco.com/thmb/iX8sqH8WGiM6_0dsoZJwflTiXu4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-168603201-585fc169f6b64c8bb878852d567bac8a.jpg');
    height: 512px;
    width: 600px;
 }