
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
.heading{
    color: rgb(230, 24, 120);
    font-family: MedievalSharp, 'Times New Roman', Times, serif;
}
p{
    color: blanchedalmond;
    font-family: MedievalSharp, 'Times New Roman';
}
body{
    background-color: rgb(0, 0, 0);
}