
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
.heading{
    color: rgb(230, 24, 120);
    font-family: MedievalSharp, 'Times New Roman', Times, serif;
}
p{
    color: blanchedalmond;
    font-family: MedievalSharp, 'Times New Roman';
}
body{
    background-image: linear-gradient(black 50%, white 0%);
}
.picture-border{
    border-color: #f579b3d7;
    border-width: 10px;
    border-style: solid;
    border-radius:50%;
  }